################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.TaskApi/.idea
/Models/obj
/TaskApi.Test/obj
